@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic);

$font-stack: Ubuntu, san-serif;
$primary-color: #1abc9c; /* teal */
$primary-color-muted: #16a085;
$secondary-color: #e67e22; /* orange */
$secondary-color-muted: #d35400;
$nav-bar-height: 80px;

strong {
    font-weight: 500;
}

body {
    font: 100% $font-stack;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

.section {
    position: relative;
    width: 100%;
}

.section_content,
.section_background {
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.content {
    margin: 0 auto;
    width: 960px;
}

input {
    font-family: $font-stack;
}

#button {
    border: none;
    height: 40px;
    padding: 0 20px;
}

.heading_1 {
    font-size: 3.2em;
    line-height: 1.6em;
    padding: 60 0 20 0;
}

.heading_2 {
    font-size: 2.2em;
    line-height: 1.2em;
    padding: 40 0 20 0;
}

.heading_3 {
    font-size: 1.6em;
    padding: 0 0 20 0;
}

.heading_4 {
    font-size: 1.2em;
    padding: 0 0 20 0;
}

.right, .left {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    padding-top: 0px;
}

/* Nav */

.nav {
    z-index: 100;
    width: 100%;
    height: $nav-bar-height;
    background-color: white;
}

.nav_element {
    display: inline-block;
    width: 100px;
    line-height: $nav-bar-height;
}

#subscribe {
    width: 400px;
    float: right;
}

#subscribe > input {
    display: inline-block;
    height: 40px;
}

#subscribe > input[type="text"] {
    border: 2px solid $primary-color-muted;
    width: 200px;
    padding: 10px;
}
#subscribe > input[type="text"]:focus {
    outline-color: $primary-color;
    outline-offset: -2px;
    outline-width: 5px;
}

#subscribe > input[type="submit"] {
    background-color: $secondary-color;
    color: white;
    margin-left: 20px;
}

/* Section A */

#s_a {
    height: 680px;
    background-image: url("../media/banner_image.png"); 
    background-position-y: -200;
}

#s_a > .section_background {
    background-size: cover;
    background-color: white;
    opacity: 0.5;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 500px;
    height: 300px;
}

/* Section B */

#s_b { 
    height: 680px;
    background-color: $primary-color-muted ;
    color: white;
}

#s_b > .section_background {
    background: linear-gradient(-30deg, transparent 50%, $primary-color 50%);
}

#s_b .right,
#s_b .left {
    @extend .right;
    width: 470px;
    padding-top: 160px;
}

#s_b #button {
    background-color: $secondary-color;
    font-size: 1.2em;
    width: 120px;
    color: white;
    height: 50px;
    line-height: 50px;
    margin-top: 30px;
    vertical-align: middle;
}

/* Section C */

#s_c { 
    height: 750px;
    background-color: $secondary-color;
    color: white;
}

#s_c > .section_background {
    background: linear-gradient(30deg, transparent 50%, $secondary-color-muted 50%);
}

#s_c .top {
    text-align: center;
}

#s_c .top,
#s_c .bottom {
    padding-top: 40px;
}

#s_c .process {
    display: inline-block;
    width: 315px;
    text-align: center;
}

#s_c .process_desc {
    padding: 0 20;
}

/* Section D */

#s_d {
    background-color: #eee;
    padding-bottom: 20px;
}

#s_d .content { 
    padding-top: 40px; 
}

#s_d .title {
    color: $primary-color;
    text-align: center;
}

#s_d .content > .sub_title {
    color: $secondary-color-muted;   
    text-align: center;
}

.poll {
    margin: 40 auto 60 auto;
    border: 2 solid #ddd;
    width: 720px;
    height: 800px;
    background-color: white;
    padding: 40 60;
}

.poll .poll_title {
    color: $primary-color;
}

.tweet {
    @extend .poll;
    height: 360px;    
    text-align: center;
}

.tweet .tweet_title {
    color: $primary-color;
    text-align: center;
}

.tweet #button {
    background-color: $primary-color;
    color: white;
    font-size: 1.4em;
    padding: 0 40px;
    margin-top: 20px;
}

/* Footer */
#footer {
    height: 250px;
    background-color: #666;
    padding: 60px 0 0 0;
    color: white;
}

.footer_element {
    display: inline-block;
    width: 315px;
}

.footer_element > div {
    margin: 0 auto;
    width: 120px;
}

