<!DOCTYPE>

<html>
    <head>
        <meta property="og:url" content="http://www.google.com" />
        <meta property="og:title" content="" />
        <meta property="og:image" content="" />
        <meta property="og:type" content="" />
        <meta property="og:description" content="" />
        <title></title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div class="section" id="s_a">
            <div class="section_background"></div>
            <div class="section_content">
                <div class="banner">
                    <img src="media/logo.png" width="500" height="300">
                </div> 
            </div>
        </div>

        <div class="nav">
            <div class="content">
                <div class="nav_element" id="">Home</div>
                <div class="nav_element" id="">About</div>
                <div class="nav_element" id="">FAQ</div>
                <div class="nav_element" id="subscribe">
                    <input type="text" placeholder="your@email.com"/>
                    <input id="button" type="submit" value="keep me updated" /> 
                </div>
            </div>
        </div>

        <div class="section" id="s_b">
            <div class="section_background"></div>
            <div class="section_content">
                <div class="content">
                    <div class="left">
                        <div class="heading-2">Store your DNA on Bitcoin</div>
                        <div>
                            Most people think that bitcoin is just a blah blah. But its really blah blah blah blah blah. So Blah blah blah. kthxbye.<br><br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a euismod justo, sed aliquam nisl. Integer sit amet mattis lacus. Nulla facilisi. Quisque sit amet felis cursus, porta leo ac, tempor risus. Sed suscipit sed dui nec sodales. Curabitur eleifend tortor id libero vulputate, a condimentum lectus dapibus.
                        </div>
                        <div id="button">Find out how</div>
                    </div>
                    <div class="right">
                        <img src="media/s_b.png" width="500" height="300">
                    </div>
                </div>
            </div>
        </div>

        <div class="section" id="s_c">
            <div class="section_background"></div>
            <div class="section_content">
                <div class="content">
                    <div class="top">
                        <div class="heading-2">How We Do It</div>
                        <div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a euismod justo, sed aliquam nisl. Integer sit amet mattis lacus. Nulla facilisi. Quisque sit amet felis cursus, porta leo ac, tempor risus. Sed suscipit sed dui nec sodales. Curabitur eleifend tortor id libero vulputate, a condimentum lectus dapibus.
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="process">
                            <img src="media/s_b.png" width="300">
                            <div class="process_desc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a euismod justo, sed aliquam nisl. Integer sit amet mattis lacus. Nulla facilisi.
                            </div>
                        </div>
                        <div class="process">
                            <img src="media/s_b.png" width="300">
                            <div class="process_desc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a euismod justo, sed aliquam nisl. Integer sit amet mattis lacus. Nulla facilisi.
                            </div>
                        </div>
                        <div class="process">
                            <img src="media/s_b.png" width="300">
                            <div class="process_desc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a euismod justo, sed aliquam nisl. Integer sit amet mattis lacus. Nulla facilisi.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section" id="s_d">
            <div class="section_background"></div>
            <div class="section_content">
                <div class="content">
                    <div class="heading-1">Do you deserve a spot?</div>
                    <div class="heading-3">We are starting our pilot program of 25 individuals</div>
                    <div class="poll">
                        <div class="heading-3">Are you a fit candidate?</div>
                    </div>
                    <div class="tweet">
                        <div class="heading-3">Tell us what you think!</div>
                        <br>
                        <div> Comments? Questions? Tweet at us, let us know if you're excited</div>
                        <br>
                        <input id="button" type="button" value="Comment">
                    </div>
                </div>
            </div>
        </div>

        <script src="js/jquery-2.0.3.min.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>
